.hideNeighbour {
    visibility: hidden;
}

.showNeighbour {
    visibility: visible;
    color: #ffffff;
}

.c-playground {
    display: inline;
}

.c-playground__btn {
    width: 5rem;
    height: 5rem;
}

.c-playground__btn span {
    font-size: 2rem;
}

.c-playground__btn svg {
    width: 1.6rem;
    height: 1.6rem;
    stroke: #ff0000;
    fill: #fffb0bab;
}

.c-playground__btn--revealed {
    color: #4fa4b3;

}

.c-result {
    /* background-color: #2948d1;
    border-radius: .5rem; */
    color: #2948d1;
    /* padding: 1rem; */
    font-size: 1.5rem;
    margin: 1.5rem;
}